@import "src/styles/vars";
@import "src/styles/mixins";

.input {
  div {
    width: 100%;
    max-width: 236px;
  }
}

.groupsBtn {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  & > div {
    margin-right: 10px;
  }
}
